.diga-card {
	padding: 1.5em;
	border: 0 solid transparent;
	border-radius: 4px;
	background-color: #fafafa;

	h5{
	color: #1D1D1F;
	font-weight: 600;
	transition: color .2s cubic-bezier(.77,0,.175,1);
	}
	p{
	color: #1D1D1F50;
	}
}

.diga-card:hover {
	h5{
	color: #0066CC;
	}
}